## Preprocessing

In [127]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [128]:
print(application_df.shape)
print(application_df.dtypes)

(34299, 12)
EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [129]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df = application_df.drop(columns = ['EIN'])
print(application_df.columns)

Index(['NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [130]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [131]:
# Look at APPLICATION_TYPE value counts for binning
print(application_df['APPLICATION_TYPE'].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [132]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[
                               application_df['APPLICATION_TYPE'].value_counts()<=50
                               ].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: APPLICATION_TYPE, dtype: int64

In [133]:
# Look at CLASSIFICATION value counts for binning

print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [134]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classificationcounts = application_df['CLASSIFICATION'].value_counts()
classificationcounts
classification_counts =classificationcounts.loc[classificationcounts>1]
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [135]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[
                               application_df['CLASSIFICATION'].value_counts()<10
                               ].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: CLASSIFICATION, dtype: int64

In [136]:
#Add back and explore ID column "NAME"  to improve accuracy
#Look at name value counts for binning
print(application_df['NAME'].value_counts())

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [137]:
# Choose a cutoff value and create a list of name to be replaced
# use the variable name `name_to_replace`

name_to_replace = application_df['NAME'].value_counts()[
                               application_df['NAME'].value_counts()<3
                               ].index.tolist()

# Replace in dataframe
for nam in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(nam,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                         19206
PARENT BOOSTER USA INC                                         1260
TOPS CLUB INC                                                   765
UNITED STATES BOWLING CONGRESS INC                              700
WASHINGTON STATE UNIVERSITY                                     492
                                                              ...
ORDER OF EASTERN STAR PRINCE HALL AFFILIATION OF LOUISIANA        3
UEMPOWERU INC                                                     3
TRUSTEES OF DARTMOUTH COLLEGE                                     3
NATIONAL FELLOWSHIP OF RACEWAY MINISTRIES                         3
WESTERN DRESSAGE ASSOCIATION OF AMERICA                           3
Name: NAME, Length: 578, dtype: int64

In [138]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df,dtype=float)
application_numeric.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS,NAME_AACE INTERNATIONAL,NAME_ACADEMY OF GENERAL DENTISTRY,NAME_ACADEMY OF MANAGED CARE PHARMACY,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [139]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop(['IS_SUCCESSFUL'], axis=1)
X

,STATUS,ASK_AMT,NAME_4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS,NAME_AACE INTERNATIONAL,NAME_ACADEMY OF GENERAL DENTISTRY,NAME_ACADEMY OF MANAGED CARE PHARMACY,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [140]:
y = application_numeric['IS_SUCCESSFUL']
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [141]:

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78,stratify=y)
X_train

,STATUS,ASK_AMT,NAME_4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS,NAME_AACE INTERNATIONAL,NAME_ACADEMY OF GENERAL DENTISTRY,NAME_ACADEMY OF MANAGED CARE PHARMACY,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
4602,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
30193,1,728544,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
23134,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6319,1,9297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
11202,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28495,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
24246,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12623,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
19379,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6462,1,344188,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [142]:
y_train

4602     0
30193    0
23134    1
6319     0
11202    0
        ..
28495    0
24246    0
12623    0
19379    0
6462     1
Name: IS_SUCCESSFUL, Length: 25724, dtype: int64

In [143]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [144]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 40
hidden_nodes_layer2 = 34
hidden_nodes_layer3= 36

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features ))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_36 (Dense)            (None, 40)                25920

 dense_37 (Dense)            (None, 34)                1394

 dense_38 (Dense)            (None, 36)                1260

 dense_39 (Dense)            (None, 1)                 37

=================================================================
Total params: 28,611
Trainable params: 28,611
Non-trainable params: 0
_________________________________________________________________

In [145]:
# Compile the model
nn_model.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [146]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=200)

Epoch 1/200
804/804 [==============================] - 2s 1ms/step - loss: 0.4740 - accuracy: 0.7743
Epoch 2/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4250 - accuracy: 0.7993
Epoch 3/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4186 - accuracy: 0.8012
Epoch 4/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4146 - accuracy: 0.8028
Epoch 5/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4127 - accuracy: 0.8026
Epoch 6/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4114 - accuracy: 0.8049
Epoch 7/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4100 - accuracy: 0.8051
Epoch 8/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4092 - accuracy: 0.8050
Epoch 9/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4085 - accuracy: 0.8053
Epoch 10/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4075 - accuracy: 0.8068
Epoch 11/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4065 - accuracy: 0.8062
Epoch 12/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4060 - accuracy: 0.8075
Epoch 13/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4053 - accuracy: 0.8072
Epoch 14/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4047 - accuracy: 0.8077
Epoch 15/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4037 - accuracy: 0.8081
Epoch 16/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4033 - accuracy: 0.8089
Epoch 17/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4030 - accuracy: 0.8086
Epoch 18/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4020 - accuracy: 0.8089
Epoch 19/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4015 - accuracy: 0.8079
Epoch 20/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4013 - accuracy: 0.8093
Epoch 21/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4005 - accuracy: 0.8093
Epoch 22/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4006 - accuracy: 0.8103
Epoch 23/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4001 - accuracy: 0.8089
Epoch 24/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3993 - accuracy: 0.8103
Epoch 25/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3988 - accuracy: 0.8097
Epoch 26/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3986 - accuracy: 0.8096
Epoch 27/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3979 - accuracy: 0.8109
Epoch 28/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3978 - accuracy: 0.8113
Epoch 29/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3971 - accuracy: 0.8108
Epoch 30/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3978 - accuracy: 0.8101
Epoch 31/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3969 - accuracy: 0.8112
Epoch 32/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3973 - accuracy: 0.8120
Epoch 33/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3968 - accuracy: 0.8118
Epoch 34/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3969 - accuracy: 0.8115
Epoch 35/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3966 - accuracy: 0.8114
Epoch 36/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3961 - accuracy: 0.8111
Epoch 37/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3954 - accuracy: 0.8117
Epoch 38/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3951 - accuracy: 0.8115
Epoch 39/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3952 - accuracy: 0.8124
Epoch 40/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3947 - accuracy: 0.8125
Epoch 41/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3945 - accuracy: 0.8120
Epoch 42/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3944 - accuracy: 0.8129
Epoch 43/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3942 - accuracy: 0.8125
Epoch 44/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3946 - accuracy: 0.8124
Epoch 45/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3938 - accuracy: 0.8126
Epoch 46/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3935 - accuracy: 0.8132
Epoch 47/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3940 - accuracy: 0.8118
Epoch 48/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3934 - accuracy: 0.8124
Epoch 49/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3938 - accuracy: 0.8130
Epoch 50/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3929 - accuracy: 0.8132
Epoch 51/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3932 - accuracy: 0.8139
Epoch 52/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3934 - accuracy: 0.8128
Epoch 53/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3931 - accuracy: 0.8127
Epoch 54/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3928 - accuracy: 0.8134
Epoch 55/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3923 - accuracy: 0.8133
Epoch 56/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3922 - accuracy: 0.8135
Epoch 57/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3925 - accuracy: 0.8139
Epoch 58/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3916 - accuracy: 0.8143
Epoch 59/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3923 - accuracy: 0.8139
Epoch 60/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3917 - accuracy: 0.8126
Epoch 61/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3917 - accuracy: 0.8125
Epoch 62/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3917 - accuracy: 0.8139
Epoch 63/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3911 - accuracy: 0.8138
Epoch 64/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3908 - accuracy: 0.8133
Epoch 65/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3905 - accuracy: 0.8131
Epoch 66/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3907 - accuracy: 0.8134
Epoch 67/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3907 - accuracy: 0.8134
Epoch 68/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3906 - accuracy: 0.8138
Epoch 69/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3904 - accuracy: 0.8143
Epoch 70/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3907 - accuracy: 0.8144
Epoch 71/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3902 - accuracy: 0.8142
Epoch 72/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3902 - accuracy: 0.8128
Epoch 73/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3900 - accuracy: 0.8146
Epoch 74/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3902 - accuracy: 0.8138
Epoch 75/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3902 - accuracy: 0.8146
Epoch 76/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3906 - accuracy: 0.8134
Epoch 77/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3899 - accuracy: 0.8143
Epoch 78/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3904 - accuracy: 0.8145
Epoch 79/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3901 - accuracy: 0.8138
Epoch 80/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3900 - accuracy: 0.8142
Epoch 81/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3910 - accuracy: 0.8137
Epoch 82/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3899 - accuracy: 0.8144
Epoch 83/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3896 - accuracy: 0.8132
Epoch 84/200
804/804 [==============================] - 2s 2ms/step - loss: 0.3897 - accuracy: 0.8140
Epoch 85/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3899 - accuracy: 0.8141
Epoch 86/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3900 - accuracy: 0.8139
Epoch 87/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3894 - accuracy: 0.8137
Epoch 88/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3898 - accuracy: 0.8134
Epoch 89/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3895 - accuracy: 0.8147
Epoch 90/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3896 - accuracy: 0.8138
Epoch 91/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3896 - accuracy: 0.8142
Epoch 92/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3891 - accuracy: 0.8149
Epoch 93/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3897 - accuracy: 0.8141
Epoch 94/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3891 - accuracy: 0.8145
Epoch 95/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3892 - accuracy: 0.8144
Epoch 96/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3887 - accuracy: 0.8144
Epoch 97/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3893 - accuracy: 0.8142
Epoch 98/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3892 - accuracy: 0.8145
Epoch 99/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3889 - accuracy: 0.8142
Epoch 100/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3888 - accuracy: 0.8152
Epoch 101/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3885 - accuracy: 0.8153
Epoch 102/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3886 - accuracy: 0.8149
Epoch 103/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3886 - accuracy: 0.8145
Epoch 104/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3884 - accuracy: 0.8152
Epoch 105/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3888 - accuracy: 0.8150
Epoch 106/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3882 - accuracy: 0.8149
Epoch 107/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3893 - accuracy: 0.8142
Epoch 108/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3893 - accuracy: 0.8142
Epoch 109/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3888 - accuracy: 0.8146
Epoch 110/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3885 - accuracy: 0.8138
Epoch 111/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3890 - accuracy: 0.8138
Epoch 112/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3892 - accuracy: 0.8145
Epoch 113/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3884 - accuracy: 0.8155
Epoch 114/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3886 - accuracy: 0.8136
Epoch 115/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3880 - accuracy: 0.8138
Epoch 116/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3883 - accuracy: 0.8155
Epoch 117/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3890 - accuracy: 0.8146
Epoch 118/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3892 - accuracy: 0.8150
Epoch 119/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3886 - accuracy: 0.8144
Epoch 120/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3889 - accuracy: 0.8140
Epoch 121/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3884 - accuracy: 0.8158
Epoch 122/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3882 - accuracy: 0.8152
Epoch 123/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3883 - accuracy: 0.8155
Epoch 124/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3884 - accuracy: 0.8151
Epoch 125/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3881 - accuracy: 0.8151
Epoch 126/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3884 - accuracy: 0.8156
Epoch 127/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3892 - accuracy: 0.8146
Epoch 128/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3886 - accuracy: 0.8150
Epoch 129/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3881 - accuracy: 0.8146
Epoch 130/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3879 - accuracy: 0.8163
Epoch 131/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3886 - accuracy: 0.8139
Epoch 132/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3875 - accuracy: 0.8159
Epoch 133/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3879 - accuracy: 0.8147
Epoch 134/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3880 - accuracy: 0.8150
Epoch 135/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3880 - accuracy: 0.8160
Epoch 136/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3881 - accuracy: 0.8153
Epoch 137/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3880 - accuracy: 0.8152
Epoch 138/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3881 - accuracy: 0.8140
Epoch 139/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3882 - accuracy: 0.8157
Epoch 140/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3873 - accuracy: 0.8153
Epoch 141/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3876 - accuracy: 0.8155
Epoch 142/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3875 - accuracy: 0.8158
Epoch 143/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3882 - accuracy: 0.8160
Epoch 144/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3875 - accuracy: 0.8149
Epoch 145/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3873 - accuracy: 0.8157
Epoch 146/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3874 - accuracy: 0.8152
Epoch 147/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3873 - accuracy: 0.8159
Epoch 148/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3881 - accuracy: 0.8149
Epoch 149/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3884 - accuracy: 0.8158
Epoch 150/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3879 - accuracy: 0.8160
Epoch 151/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3876 - accuracy: 0.8158
Epoch 152/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3873 - accuracy: 0.8155
Epoch 153/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3884 - accuracy: 0.8150
Epoch 154/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3873 - accuracy: 0.8157
Epoch 155/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3872 - accuracy: 0.8155
Epoch 156/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3871 - accuracy: 0.8158
Epoch 157/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3873 - accuracy: 0.8146
Epoch 158/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3871 - accuracy: 0.8155
Epoch 159/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3875 - accuracy: 0.8150
Epoch 160/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3869 - accuracy: 0.8160
Epoch 161/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3872 - accuracy: 0.8155
Epoch 162/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3876 - accuracy: 0.8153
Epoch 163/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3874 - accuracy: 0.8152
Epoch 164/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3872 - accuracy: 0.8166
Epoch 165/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3875 - accuracy: 0.8155
Epoch 166/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3877 - accuracy: 0.8153
Epoch 167/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3867 - accuracy: 0.8160
Epoch 168/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3868 - accuracy: 0.8157
Epoch 169/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3863 - accuracy: 0.8162
Epoch 170/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3869 - accuracy: 0.8161
Epoch 171/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3877 - accuracy: 0.8147
Epoch 172/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3869 - accuracy: 0.8159
Epoch 173/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3867 - accuracy: 0.8153
Epoch 174/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3864 - accuracy: 0.8160
Epoch 175/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3871 - accuracy: 0.8159
Epoch 176/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3876 - accuracy: 0.8153
Epoch 177/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3873 - accuracy: 0.8147
Epoch 178/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3878 - accuracy: 0.8148
Epoch 179/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3870 - accuracy: 0.8149
Epoch 180/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3870 - accuracy: 0.8159
Epoch 181/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3869 - accuracy: 0.8154
Epoch 182/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3878 - accuracy: 0.8159
Epoch 183/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3871 - accuracy: 0.8161
Epoch 184/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3869 - accuracy: 0.8157
Epoch 185/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3868 - accuracy: 0.8159
Epoch 186/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3874 - accuracy: 0.8162
Epoch 187/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3875 - accuracy: 0.8149
Epoch 188/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3869 - accuracy: 0.8158
Epoch 189/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3872 - accuracy: 0.8160
Epoch 190/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3871 - accuracy: 0.8152
Epoch 191/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3877 - accuracy: 0.8152
Epoch 192/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3870 - accuracy: 0.8169
Epoch 193/200
804/804 [==============================] - 1s 1ms/step - loss: 0.3870 - accuracy: 0.8159
Epoch 194/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3874 - accuracy: 0.8160
Epoch 195/200
804/804 [==============================] - 1s 2ms/step - loss: 0.3870 - accuracy: 0.8156
Epoch 196/200

In [147]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4450 - accuracy: 0.8005 - 310ms/epoch - 1ms/step
Loss: 0.4449671506881714, Accuracy: 0.8004664778709412

In [148]:
# Export our model to HDF5 file

from google.colab import files

nn_model.save("Alphabet_charity_optimization.h5")
files.download("Alphabet_charity_optimization.h5")